/* Font */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
/* Variable */
:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
}

/* Global */
* {
  border: 1px solid black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* content */
#nav {
  height: 63px;
  background: linear-gradient(
    90deg,
    #120d31 0%,
    #6ddccf 100%
  ); /* background-color: black; */
  font-size: Monserrat;
}

/* 
height: 461px;
width: 960px;
left: 59px;
top: 63px;
border-radius: 0px;
 */

#jumbotron {
  /* position: relative; */
  height: 561px;
  padding-top: 63px;
}

.heightjb {
  height: 561px;
  padding-top: 63px;
}

#grid1 {
  position: relative;
}

#group28 {
  position: absolute;
  right: 20px;
}

#asset3 {
  position: absolute;
  right: 70px;
  top: 70px;
  /* bottom: 0px; */
  /* background: url(assets/Asset\ 3.png);
  background-repeat: no-repeat; */
}

#vector {
  position: absolute;
  right: 180.8px;
  bottom: -390px;
  /* left: 14.08%;
  right: 3.08%;
  top: 35.86%;
  bottom: -8.86%; */
  /* background: url(assets/Vector.png);
  background-repeat: no-repeat; */
  /* background: linear-gradient(270deg, #4392f1 0%, #6ddccf 100%); */
}

#asset4 {
  position: absolute;
  bottom: -340px;
  right: 250px;
  /* max-width: 200px; */
  /* background: url(assets/Asset\ 4.png);
  background-repeat: no-repeat; */
  z-index: -1;
}

#asset4 img {
  width: 180px;
}

#vector2 {
  position: absolute;
  bottom: -320px;
  right: 280px;
  /* left: 9.98%;
  right: 72.09%;
  top: 32.37%;
  bottom: 19.78%; */
  /* background: url(assets/Vector.png);
  background-repeat: no-repeat; */
  z-index: -1;
}

#group1 {
  position: absolute;
  /* width: 25.49px;
  height: 59.08px;
  top: 29%; */
  right: 400px;
  bottom: -370px;
}

#grid2 {
  position: relative;
}

#group30 {
  position: absolute;
  top: 350.6px;
  left: 60px;
  /* bottom: 20px; */
  /* width: 183.39px;
  height: 37.77px;
  left: 820px;
  top: 436.6px; */
}

#vector-right {
  position: absolute;
  bottom: 120px;
  /* left: 55.43%;
  right: 0%;
  top: 25.18%;
  bottom: 3.89%?; */
}

#video {
  position: absolute;
  width: 350px;
  height: 200px;
  z-index: 1;
}

/* 
#iframe{
    overflow: hidden;
} */

/* * {
  border: none;
} */

#about-team {
  padding-bottom: 50px;
}

#about-team h2::before {
  margin-left: 200px;
  content: "About Team";
  position: relative;
  padding: 10px;
  z-index: 1;
  background-color: white;
  display: inline-block;
}

#about-team h2::after {
  content: "";
  position: relative;
  border-bottom: 6px solid black;
  width: 100%;
  display: block;
  bottom: 25px;
}

div.about-team-text p {
  max-width: 90%;
  margin: auto;
  text-align: justify;
  font-family: Montserrat;
  font-weight: 600;
}

#team-text {
  width: 40%;
  position: relative;
}

#team-text p {
  font-size: 40px;
  /* font-weight: bold !important; */
  display: inline-block;
}

#team-text img {
  position: absolute;
}

img#asset2-assets2 {
  top: -30px;
  left: 350px;
}
img#asset2-group28 {
  top: 100px;
  /* left: 310px; */
}
img#asset2-vector {
  top: 205px;
  left: 315px;
  z-index: -1;
}
#iris-news {
  padding-bottom: 50px;
}
#iris-news h2::before {
  margin-left: 800px;
  content: "IRIS News";
  position: relative;
  padding: 10px;
  z-index: 1;
  background-color: white;
  display: inline-block;
}

#iris-news h2::after {
  content: "";
  position: relative;
  border-bottom: 6px solid black;
  width: 100%;
  display: block;
  bottom: 25px;
}

#on-event {
  position: relative;
  background: #151131;
  padding: 20px;
}
div.event-text {
  position: relative;
}
.event-text h2 {
  color: #151131;
  font-size: 90px;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: white;
  /* text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white,
    -1px -1px 0 white; */
}
#event-special2 {
  color: white;
  font-weight: bold;
  font-size: 28px;
  position: relative;
  right: -160px;
  display: inline-block;
}
.special-img {
  position: relative;
}
.special-img-1 {
}
.special-img-2 {
  left: 30px;
}
.special-img-3 {
  left: 90px;
}
.special-img-4 {
  left: 105px;
}
.special-img-5 {
  left: 290px;
}

p#event-text-text {
  width: 80%;
  margin: auto;
  text-align: justify;
  color: white;
  font-family: Montserrat;
  font-size: 20px;
  padding-top: 50px;
}
#event-special {
  -webkit-text-stroke: 1px;
  font-size: 90px;
  position: absolute;
  top: 10px;
  left: 260px;
  /* font-family: Montserrat; */
  font-style: normal;
  /* font-weight: bold; */
  /* font-size: 72px; */
  /* line-height: 88px; */
  /* identical to box height */
  color: #e8e1f0;
}
/* Responsive Query */
@media screen and (max-width: 992px) {
  a.nav-link {
    background: linear-gradient(90deg, #120d31 0%, #6ddccf 100%);
  }
}

@media screen and (max-width: 1200px) {
  #jumbotron {
    height: 1222px;
  }
  #vector-right {
    display: none;
  }
  #team-text2 {
    display: none;
  }
  #iris-news h2::before {
    margin-left: 55%;
  }
  p#event-text-text {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #group30 {
    top: 500px;
  }
  #about-team h2::before {
    margin-left: 25%;
  }
  div.about-team-text p {
    width: 100%;
  }
  #team-text {
    width: 100%;
  }
  #iris-news h2::before {
    margin-left: 25%;
  }
}
.card {
  margin: auto;
}

/* clearfix */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
