@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap");

/* ===============================================================navbar=========================================================== */
* {
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
#nav {
  height: 63px;
  background: linear-gradient(90deg, #120d31 0%, #6ddccf 100%);
  font-size: Monserrat;
}

@media screen and (max-width: 992px) {
  a.nav-link {
    background: linear-gradient(90deg, #120d31 0%, #6ddccf 100%);
  }
}

.button {
  background: rgba(109, 220, 207, 1);
  border: 1px solid rgba(109, 220, 207, 1);
  color: #fff;
  display: inline-block;
  margin-top: 20px;
  padding: 8px 25px;
  border-radius: 4px;
}
/* .button-primary {
  position: relative;
  background-color: #c0ca33;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  transition: color 0.3s ease-in;
  z-index: 1;
}
.button-primary:hover {
  color: #c0ca33;
  text-decoration: none;
}
.button-primary::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  border-radius: 4px;
  opacity: 0;
  -webkit-transform: scaleX(0.8);
  -ms-transform: scaleX(0.8);
  transform: scaleX(0.8);
  transition: all 0.3s ease-in;
  z-index: -1;
}
.button-primary:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
} */
.overlay::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.header-area {
  position: relative;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repear;
  background-size: cover;
}
.banner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  color: #fff;
  text-align: center;
  z-index: 1;
}
.banner h1 {
  font-weight: 800;
}
.banner p {
  font-weight: 700;
}
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  transition: background 0.6s ease-in;
  z-index: 99999;
  background: linear-gradient(90deg, #120d31 0%, #6ddccf 100%);
}
.navbar .navbar-brand {
  font-size: 2.5rem;
}
.navbar .navbar-toggler {
  position: relative;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  outline: none;
}
.navbar .navbar-toggler .menu-icon-bar {
  position: absolute;
  left: 15px;
  right: 15px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  transition: all 0.3s ease-in;
}
.navbar .navbar-toggler .menu-icon-bar:first-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(45deg);
  -ms-sform: translateY(-1px) rotate(45deg);
  transform: translateY(-1px) rotate(45deg);
}
.navbar .navbar-toggler .menu-icon-bar:last-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(135deg);
  -ms-sform: translateY(-1px) rotate(135deg);
  transform: translateY(-1px) rotate(135deg);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar {
  opacity: 1;
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
  -webkit-transform: translateY(-7px) rotate(0);
  -ms-sform: translateY(-7px) rotate(0);
  transform: translateY(-7px) rotate(0);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
  -webkit-transform: translateY(5px) rotate(0);
  -ms-sform: translateY(5px) rotate(0);
  transform: translateY(5px) rotate(0);
}
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  color: #fff;
  font-size: 1.6rem;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar .dropdown-menu {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
.navbar .dropdown-menu .dropdown-item {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: color 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #c0ca33;
}
.navbar .dropdown-menu .dropdown-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 5px;
  background-color: #c0ca33;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:hover::before {
  opacity: 1;
}
.navbar.fixed-top {
  position: fixed;
  -webkit-animation: navbar-animation 0.6s;
  animation: navbar-animation 0.6s;
  background: linear-gradient(90deg, #120d31 0%, #6ddccf 100%);
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
  color: #c0ca33;
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
  background-color: #c0ca33;
}
.content {
  padding: 120px 0;
}
@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: 20px;
  }
  .navbar-nav {
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .navbar.fixed-top .navbar-nav {
    background: transparent;
  }
}
@media screen and (min-width: 767px) {
  .banner {
    padding: 0 150px;
  }
  .banner h1 {
    font-size: 5rem;
  }
  .banner p {
    font-size: 2rem;
  }
  .navbar-dark .navbar-nav .nav-link {
    padding: 23px 15px;
  }
  .navbar-dark .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 30%;
    right: 30%;
    height: 1px;
    background-color: #fff;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.1s ease-in;
  }
  .navbar-dark .navbar-nav .nav-link:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
  .dropdown-menu {
    min-width: 200px;
    -webkit-animation: dropdown-animation 0.3s;
    animation: dropdown-animation 0.3s;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
  }
}
@-webkit-keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

/* ===============================================================div title=========================================================== */
.headContent {
  margin-bottom: 100px;
  /* width: 100vh; */
  height: 100vh;
}

.team-head-text .strip2,
.top-team .strip1 {
  height: 2px;
  /* width: 80%; */
}

.top-team .strip1 {
  width: 200%;
}

.top-team img {
  margin-right: 50px;
}

.top-team {
  margin: 30px auto;
}

.team-head-text {
  margin: 100px auto;
}

.team-head-text h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 150px;
  line-height: 150px;

  color: #120d31;
}

.team-head-text h3 {
  font-family: Montserrat;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #151231;
}

.w-content {
  width: 88%;
}

.round-team {
  position: absolute;
  width: 250px;
  left: 109px;
  top: 183px;
  z-index: 0;
}

.star-team {
  position: absolute;
  width: 155px;
  left: 155px;
  top: 230px;
}

.prog-team {
  position: absolute;
  width: 100px;
  left: 40px;
  top: 320px;
}

.el-team {
  position: absolute;
  width: 100px;
  left: 320px;
  top: 200px;
  z-index: 3;
}

.mech-team {
  position: absolute;
  width: 100px;
  left: 220px;
  top: 390px;
  z-index: 3;
}

.ofc-team {
  position: absolute;
  width: 100px;
  left: 130px;
  top: 100px;
  z-index: 3;
}

/* =================================================================div card============================================================ */

* {
  font-family: Montserrat !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* min-height: 100vh; */
  overflow-x: hidden;
  /* background: linear-gradient(to bottom, #000428, #004683); */
}

.container {
  margin-top: 100px;
}

.container .row .col-lg-4 {
  display: flex;
  justify-content: center;
}

.cards {
  position: relative;
  padding: 0;
  margin: 0 !important;
  border-radius: 20px;
  overflow: hidden;
  max-width: 280px;
  max-height: 340px;
  cursor: pointer;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.cards .cards-image {
  width: 100%;
  max-height: 340px;
}

.cards .cards-image img {
  width: 100%;
  max-height: 340px;
  object-fit: cover;
}

.cards .cards-content {
  position: absolute;
  bottom: -180px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  min-height: 140px;
  width: 100%;
  transition: bottom 0.4s ease-in;
  box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.cards:hover .cards-content {
  bottom: 0px;
}

.cards:hover .cards-content h4,
.cards:hover .cards-content h5 {
  transform: translateY(10px);
  opacity: 1;
}

.cards .cards-content h4,
.cards .cards-content h5 {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  transition: 0.8s;
  font-weight: 500;
  opacity: 0;
  transform: translateY(-40px);
  transition-delay: 0.2s;
}

.cards .cards-content h5 {
  transition: 0.5s;
  font-weight: 200;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.cards .cards-content .social-icons {
  list-style: none;
  padding: 0;
}

.cards .cards-content .social-icons li {
  margin: 10px;
  transition: 0.5s;
  transition-delay: calc(0.15s * var(--i));
  transform: translateY(50px);
}

.cards:hover .cards-content .social-icons li {
  transform: translateY(20px);
}

.cards .cards-content .social-icons li a {
  color: #fff;
}

.cards .cards-content .social-icons li a span {
  font-size: 1.3rem;
}

@media (max-width: 991.5px) {
  .container {
    margin-top: 20px;
  }

  .container .row .col-lg-4 {
    margin: 20px 0px;
  }
}

.margin-top {
  margin-top: 100px;
}

.robots.col-md-12,
.robots.col-sm-12 {
  margin-left: 90px;
}

.black-slider {
  width: 100vh;
  height: 100vh;
  background: #000;
  transform: skewX(-45deg);
  display: block;
}

/* =================================our Team========================================= */
.strip-team1,
.strip-team2 {
  border: 1px solid #151231;
}

.strip-team1 {
  width: 10%;
}

.strip-team2 {
  width: 79%;
}

.title-leader {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #151231;
}

:root {
  /* --gradient-card: linear-gradient(to left top, #0c1549 10%, #2fe7ff 90%) !important; */
  --gradient-card: #000 !important;
}

.card {
  border: 1px solid;
  filter: drop-shadow(#2fe7ff);
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
  border-radius: 30px;
  background: #c4c4c4;
}

.btn {
  border: 1px solid;
  border-image-slice: 1;
  background: var(--gradient-card) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source: var(--gradient-card) !important;
  text-decoration: none;
  transition: all 0.4s ease;
}

.btn:hover,
.btn:focus {
  background: var(--gradient-card) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 1px solid #fff !important;
  box-shadow: #222 1px 0 10px;
  /* text-decoration: underline; */
}

.devider {
  color: var(--gradient);
}

.name-card {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;

  color: #151231;
}

.content-text p {
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.content-caption {
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.team-elc-logo {
  position: absolute;
  width: 268px;
  height: 268px;
  left: -59px;
  top: 850px;
  z-index: -1;
}

.team-mech-logo {
  position: absolute;
  left: 83%;
  top: 490%;

  overflow-x: hidden;

  /* transform: rotate(-150deg); */
}
/* ==================================================Publications======================================================================= */
.header-pub-elem {
  margin: 0 20px;
}

.header-publication .strip {
  width: 85%;
}

.header-publication {
  display: inline-block;
  width: 100%;
  margin: 10px auto;
}

.publ h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 170px;
  /* line-height: 88px; */
  font-weight: 900;
  color: rgba(18, 13, 49, 1) !important;
}

.bottom-assets {
  position: absolute;
  left: 62.4%;
  right: 14.48%;
  top: 89.03%;
  bottom: 7.47%;

  transform: scale(1.5);
}

@media (max-width: 1473px) {
  .publ h1 {
    font-size: 130px;
  }
}

@media (max-width: 1251px) {
  .publ h1 {
    font-size: 100px;
  }

  .publ {
    justify-content: center;
  }
}

@media (max-width: 835px) {
  .bottom-assets {
    position: absolute;
    left: 62.4%;
    right: 14.48%;
    top: 140.03%;
    bottom: 7.47%;
    /* display: flex; */

    transform: scale(1);
  }
  .header-publication .strip {
    width: 65%;
  }
}
.header-publication-links .strip1 {
  width: 10%;
  height: 2px;
}

.header-publication-links .strip2 {
  width: 60%;
  height: 2px;
}

.header-paper-links .strip3 {
  height: 2px;
  width: 25%;
  margin-right: 15px;
}

.header-paper-links .strip4 {
  height: 2px;
  width: 20%;
  margin-left: 15px;
}

.publicationLinks h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 29px;

  color: #151231;
}

.header-publication-links,
.header-paper-links {
  display: inline-block;
  width: 100%;
  margin: 10px auto;
}

.header-publication-links h1,
.header-paper-links h1 {
  display: inline;
}

.team-desc {
  margin: 80px 100px;
  /* display: inline-block; */
}

.team-desc p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 22px;
  /* identical to box height */

  color: #151131;
}

/* .button {
  display: inline-block;
  background-color: rgba(109, 220, 207, 1);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  padding: 9px 25px;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
} */

.papers {
  margin: 80px 100px;
}

.papers p {
  font-family: Montserrat;
  font-style: normal;
  font-size: 20px;
  line-height: 40px;

  color: #151131;
}
/* ======================================================================Form================================================================= */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

:focus {
  outline: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  position: relative;
  width: 435px;
}

.contact-us-title {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 88px;
  /* identical to box height */

  color: #120d31;
}

form {
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 50px 61px 66px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.form-holder {
  position: relative;
  margin-bottom: 21px;
}

.form-group {
  margin-bottom: 35px !important;
}

.form-control {
  border: none;
  /* border-bottom: 1px solid #e6e6e6; */
  display: block;
  width: 100%;
  height: 38px;
  background: none;
  padding: 3px 8px 0px;
  color: rgb(53, 41, 41);
  font-size: 16px;
  background: rgba(232, 225, 240, 1);
  border-radius: 10px;
}
.form-control::-webkit-input-placeholder {
  font-size: 14px;
  color: #999;
  transform: translateY(1px);
}
.form-control::-moz-placeholder {
  font-size: 14px;
  color: #999;
  transform: translateY(1px);
}
.form-control:-ms-input-placeholder {
  font-size: 14px;
  color: #999;
  transform: translateY(1px);
}
.form-control:-moz-placeholder {
  font-size: 14px;
  color: #999;
  transform: translateY(1px);
}
.form-control:focus {
  border-bottom: 1px solid #accffe;
}

.contact-us-footer-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;

  color: #ffffff;
}

.contact-us-footer-content {
  font-family: Montserrat;
  font-style: normal;
  font-size: 20px;
  line-height: 60px;
  font-feature-settings: "kern" off;

  color: #151131;
}

/* ===============================Achivements=============================== */

.strip-achiv {
  width: 100%;
  height: 2px;
}
.achivement-top-content p {
  font-family: sans-serif !important;
  font-style: normal;
  font-weight:lighter;
  font-size: 35px;
  line-height: 50px;
  text-align: justify;

  color: #000000;
}

.achivement-top-content h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 98px;
  letter-spacing: 10px;
  /* identical to box height */

  color: #120d31;
}

.p-absolute{
  position: absolute;
}

.p-relative{
  position: relative;
}

.mt-10{
  margin-top: 10%;
}
/* =============================================================Animations============================================================= */
/* =========spin================ */
.spin.active {
  opacity: 1;
  animation: spin 2s;
}

.toRight.active {
  opacity: 1;
  animation: toRightAnimate 2s;
}

.toLeft.active {
  opacity: 1;
  animation: toLeftAnimate 2s;
}

.toTop.active {
  animation: toTopAnimate 2s;
}

.spinStick.active {
  animation: spinStick 2s;
}

.fade.active {
  animation-name: fading;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.revealOnScroll {
  opacity: 0;
  transform: translateY(100px);
  transition: all 2s ease;
}

.revealOnScroll.active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 2s ease;
}

.toRightOnScroll {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 2s ease;
}

.toRightOnScroll.active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 2s ease;
}

.toLeftOnScroll {
  opacity: 0;
  transform: translateX(100px);
  transition: all 2s ease;
}

.toLeftOnScroll.active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 2s ease;
}
/* =============================Animation's Keyframes============================= */
@keyframes spin {
  0% {
    transform: translateX(1900px) rotate(360deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

@keyframes toRightAnimate {
  0% {
    transform: translateX(-1900px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes toLeftAnimate {
  0% {
    transform: translateX(1900px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes toTopAnimate {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes spinStick {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes */
