@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap");
/* ===============================================================div title=========================================================== */
.headContent{
    margin-bottom: 100px;
    width: 100vh;
    height: 100vh;
}

.team-head-text .strip2,
.top-team .strip1 {
  height: 2px;
  /* width: 80%; */
}

.top-team img {
  margin-right: 50px;
}

.top-team {
  margin: 30px auto;
}

.team-head-text {
  margin: 100px auto;
}

.team-head-text h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 150px;
  line-height: 150px;

  color: #120d31;
}

.team-head-text h3 {
  font-family: Montserrat;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #151231;
}

.w-content {
  width: 88%;
}

.round-team {
  position: absolute;
  width: 250px;
  left: 109px;
  top: 183px;
  z-index: 0;
}

.star-team {
  position: absolute;
  width: 155px;
  left: 155px;
  top: 230px;
}

.prog-team {
  position: absolute;
  width: 100px;
  left: 40px;
  top: 320px;
}

.el-team {
  position: absolute;
  width: 100px;
  left: 320px;
  top: 200px;
  z-index: 3;
}

.mech-team {
  position: absolute;
  width: 100px;
  left: 220px;
  top: 390px;
  z-index: 3;
}

.ofc-team {
  position: absolute;
  width: 100px;
  left: 130px;
  top: 100px;
  z-index: 3;
}

/* =================================================================div card============================================================ */


* {
  font-family: Montserrat !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* background: linear-gradient(to bottom, #000428, #004683); */
}

.container {
  margin-top: 100px;
}

.container .row .col-lg-4 {
  display: flex;
  justify-content: center;
}

.cards {
  position: relative;
  padding: 0;
  margin: 0 !important;
  border-radius: 20px;
  overflow: hidden;
  max-width: 280px;
  max-height: 340px;
  cursor: pointer;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.cards .cards-image {
  width: 100%;
  max-height: 340px;
}

.cards .cards-image img {
  width: 100%;
  max-height: 340px;
  object-fit: cover;
}

.cards .cards-content {
  position: absolute;
  bottom: -180px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  min-height: 140px;
  width: 100%;
  transition: bottom 0.4s ease-in;
  box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.cards:hover .cards-content {
  bottom: 0px;
}

.cards:hover .cards-content h4,
.cards:hover .cards-content h5 {
  transform: translateY(10px);
  opacity: 1;
}

.cards .cards-content h4,
.cards .cards-content h5 {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  transition: 0.8s;
  font-weight: 500;
  opacity: 0;
  transform: translateY(-40px);
  transition-delay: 0.2s;
}

.cards .cards-content h5 {
  transition: 0.5s;
  font-weight: 200;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.cards .cards-content .social-icons {
  list-style: none;
  padding: 0;
}

.cards .cards-content .social-icons li {
  margin: 10px;
  transition: 0.5s;
  transition-delay: calc(0.15s * var(--i));
  transform: translateY(50px);
}

.cards:hover .cards-content .social-icons li {
  transform: translateY(20px);
}

.cards .cards-content .social-icons li a {
  color: #fff;
}

.cards .cards-content .social-icons li a span {
  font-size: 1.3rem;
}

@media (max-width: 991.5px) {
  .container {
    margin-top: 20px;
  }

  .container .row .col-lg-4 {
    margin: 20px 0px;
  }
}

.margin-top {
  margin-top: 100px;
}

.robots.col-md-12,
.robots.col-sm-12 {
  margin-left: 90px;
}

.black-slider {
  width: 100vh;
  height: 100vh;
  background: #000;
  transform: skewX(-45deg);
  display: block;
}

/* =================================our Team========================================= */
.strip-team1,
.strip-team2 {
  border: 1px solid #151231;
}

.strip-team1 {
  width: 10%;
}

.strip-team2 {
  width: 79%;
}

.title-leader {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #151231;
}

:root {
  /* --gradient-card: linear-gradient(to left top, #0c1549 10%, #2fe7ff 90%) !important; */
  --gradient-card: #000 !important;
}

.card {
  border: 1px solid;
  filter: drop-shadow(#2fe7ff);
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
  border-radius: 30px;
  background: #c4c4c4;
}

.btn {
  border: 1px solid;
  border-image-slice: 1;
  background: var(--gradient-card) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source: var(--gradient-card) !important;
  text-decoration: none;
  transition: all 0.4s ease;
}

.btn:hover,
.btn:focus {
  background: var(--gradient-card) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 1px solid #fff !important;
  box-shadow: #222 1px 0 10px;
  /* text-decoration: underline; */
}

.devider {
  color: var(--gradient);
}

.name-card {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;

  color: #151231;
}

.content-text p {
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.content-caption {
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.team-elc-logo {
  position: absolute;
  width: 268px;
  height: 268px;
  left: -59px;
  top: 850px;
  z-index: -1;
}

.team-mech-logo {
  position: absolute;
  left: 83%;
  top: 490%;

  overflow-x: hidden;

  /* transform: rotate(-150deg); */
}
